body {
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;   
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

.container {
    margin-left: -7px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: thick;
    border-color: darkgoldenrod;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.me {
    width: 250px;
    height: 200px;
}

a {
    color: slategrey;
    font-weight: bold;
}

img.logo {
    height: 25px;
    width: 25px;
}

img.screenshot {
    height: 100px;
    width: 240px;
}

img.bscreenshot {
    height: 55px;
    width: 150px;
}

.small {
    font-size: 6pt;
}

q {
    color: goldenrod;
}

